<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    <div style="width: 85%; margin: 0 7.5%;">
        <div style="text-align: center; padding-left: 50px;">
            <h3>Квитанція замовлення</h3>
            <h5><%= order.user.name %></h5>
            <center>
                <table>
                    <th style="text-align: center; padding-left: 10px;">НАЙМЕНУВАННЯ ТОВАРУ</th>
                    <th style="text-align: center; padding-left: 10px;">ЦІНА</th>
                    <th style="text-align: center; padding-left: 10px;">КІЛЬКІСТЬ</th>
                    <th style="text-align: center; padding-left: 10px;">Разом</th>
                    <% if(order.order.length > 0) { %>
                        <% order.order.forEach(item => {%>
                            <tr>
                                <td><%= item.nameOfGoods %></td>
                                <td><%= item.prise %></td>
                                <td><%= item.size %></td>
                                <td><%= item.total %></td>
                            </tr>
                        <%  }) %>
                    <%    } %>
                </table>
                <div>Загальна сума <%= order.total %></div>
            </center>
        </div>
    </div>

</body>
</html>